header{
	margin-bottom: 20px;
}

body{
	background: url("../images/yellowBtn.png");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Maven Pro', sans-serif;
	font-size: 25px;
}

.btn-primary,.reset{
	background-color: #563177;
	color: #F5F5F5;
	font-family: 'Maven Pro', sans-serif;
	font-size: 30px;
	padding: 20px;
	margin-top: 100px;
}

#startBtn{
	background-color: #563177;
	color: #F5F5F5;
	font-family: 'Maven Pro', sans-serif;
	font-size: 30px;
	padding: 20px;
	margin-top: 100px;
}
.btn-primary:hover, .reset:hover{
	background-color: #563177;
}

.container{
	margin-top: 50px;
	text-align: center;
	height: 100%;
	width: 700px;
	margin-left: 25%;
}

h2, #message, #finalMessage{
	font-family: 'Maven Pro', sans-serif;
	color: #3A9E6D;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	color: #3797B6;

}

#currentQuestion {
	font-family: 'Maven Pro', sans-serif;
	color: #5740B0;
}

#correctedAnswer {
	color: #28CB79;
}

.thisChoice:hover{
	background-color: #563177;
	color: #f5f5f5;
	padding: 10px;
}

#gif{
	margin: 30px;
	margin-left: 20%;
}

@media screen and (max-width:640px){
	.container{
		text-align: center;
		width: 500px;
		margin-top: 200px;
		size: 200%;
		/*float: center;*/
	}

	body{
	background: url("../images/yellowBtn.png");
	background-size: cover;
	background-repeat: no-repeat;
	}

	#gif{
	margin: 30px;
	width: 200px;
	}	
}